* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;

}

html,
body {
    color: #333333;
    font-family: 'Muli', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ffe7e7;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {

}

.header__heading {

}

.header__blurb {    
    color: #ffe7e7;
}