/*

BEM - Block__Element--Modifier

7-1 folder architecture
1. base - animations, typography, utilities
2. abstracts - functions, variables, mixins
3. components - components that are the same across all pages and can be re-used (e.g. buttons)
4. layout - the layouts that hold components (e.g. header, sections)
5. pages - unique styles for certain pages
6. themes
7. vendors - for 3rd party styles

*/
/* --------------------------------------------------------------*/
/* PAGE SETUP */
/* --------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(15%); }
  60% {
    transform: translateX(-2%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-15%); }
  60% {
    transform: translateX(2%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  /* This will be inherited by all elements in the body re: universal selector */
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: #333333; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /* This property can fix some animation "shakyness" that may occur */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }

.btn-close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

.modal {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center; }
  .modal--content {
    position: relative;
    top: 25%;
    width: 50vw;
    margin: 30px auto;
    color: #eeeeee;
    transition: opacity 0.8s;
    transition-timing-function: ease-out; }
    .modal--content p {
      width: 100%; }
  .modal .btn-close {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
    color: #777777; }
    .modal .btn-close:hover, .modal .btn-close:focus {
      color: #ffffff; }

@media screen and (max-width: 450px) {
  .modal .btn-close {
    font-size: 40px;
    top: 15px;
    right: 35px; }
  .modal--content {
    top: 15%; } }

body {
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container__header {
  position: relative;
  position: fixed;
  width: 100vw;
  height: 100vh; }

.name {
  top: 0;
  left: 0;
  transform: translate(100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px; }

.title {
  top: 0;
  right: 0;
  transform: translate(-100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px; }

.about {
  bottom: 0;
  right: 0;
  transform: translate(-100px, -100%);
  position: absolute;
  margin: 50px 0px 20px 50px; }
  .about--link {
    cursor: pointer; }

.container__gallery {
  position: absolute;
  top: 100px;
  width: 65%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.gallery__img {
  text-align: center;
  justify-content: center;
  margin: 0 10px 20px;
  height: 320px;
  width: 320px;
  overflow: hidden; }

img {
  width: 320px; }

img:hover {
  opacity: .5;
  transition: .5s; }

.container__social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%; }

.social-link {
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  margin: 30px 30px; }
  .social-link a {
    text-decoration: none;
    transition: 0.3s;
    color: #777777; }
    .social-link a:hover, .social-link a:focus {
      color: #ffffff; }

@media screen and (max-width: 1225px) {
  body {
    padding: 10px;
    align-items: unset;
    justify-content: unset;
    flex-direction: column; }
  .container__header {
    position: static;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    margin-bottom: 40px; }
  .container__gallery {
    position: static;
    width: 100%; }
  .title {
    position: static;
    margin: auto;
    transform: translate(0, 100%); }
  .name {
    position: static;
    margin: auto;
    transform: translate(0, 100%); }
  .about {
    position: static;
    margin: 30px auto;
    transform: translate(0, 100%); } }

@media screen and (max-width: 360px) {
  .container__header {
    flex-direction: column; }
  .gallery-img {
    width: auto;
    max-width: 320px; }
  img {
    width: 100%; } }
