// Colors
$color-primary: #dbe2ef;
$color-secondary: #3f72af;
$color-tertiary: #112d4e;

$color-white: #ffffff;
$color-black: #333333;
$color-grey-mid: #eeeeee;
$color-grey-dark: #777777;

$color-social-linkedin: #007bb5;
$color-social-github: #f6f8fa;
$color-social-email: #f1f8ff;

// Grid
$grid-width: 114rem; // 1140px
$gutter-vertical: 8rem; // vertical margin
$gutter-horizontal: 8rem; // horizontal margin