body {
    // Font properties are usually inherited, so do not need to be in the universal selector
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-black;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* This property can fix some animation "shakyness" that may occur */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
    
        animation: moveInRight 1s ease-out;
    }

}