@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.name {
  top: 0;
  left: 0;
  transform: translate(100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px;
}

.title {
  top: 0;
  right: 0;
  transform: translate(-100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px;
}

.about {
  bottom: 0;
  right: 0;
  transform: translate(-100px, -100%);
  position: absolute;
  margin: 50px 0px 20px 50px;
}

.container__gallery {
  position: absolute;
  top: 40px;
  margin-bottom: 40px;
  width: 65%;
  margin: 100 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery__img {
  text-align: center;
  justify-content: center;
  margin: 0 10px 20px;
  height: 320px;
  width: 320px;
  overflow: hidden;
}

img {
  width: 320px;
}

img:hover {
  opacity: .5;
  transition: .5s;
}