@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__header {
  position: relative;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.name {
  top: 0;
  left: 0;
  transform: translate(100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px;
}

.title {
  top: 0;
  right: 0;
  transform: translate(-100px, 100%);
  position: absolute;
  margin: 50px 0px 20px 50px;
}

.about {
  bottom: 0;
  right: 0;
  transform: translate(-100px, -100%);
  position: absolute;
  margin: 50px 0px 20px 50px;

  &--link {
    cursor: pointer;
  }
}

.container__gallery {
  position: absolute;
  top: 100px;
  width: 65%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery__img {
  text-align: center;
  justify-content: center;
  margin: 0 10px 20px;
  height: 320px;
  width: 320px;
  overflow: hidden;
}

img {
  width: 320px;
}

img:hover {
  opacity: .5;
  transition: .5s;
}

.container__social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-link {
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  margin: 30px 30px;

  & a {
    text-decoration: none;
    transition: 0.3s;
    color: $color-grey-dark;

    &:hover, &:focus {
      color: $color-white;
    }
  }

  
}

// 1120px
@media screen and (max-width: 1225px) {

body {
  padding: 10px;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
}

.container__header {
  position: static;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.container__gallery {
  margin-top: 40px;
  position: static;
  width: 100%;
}

.title {
  position: static;
  margin: auto;
  transform: translate(0, 100%);
}

.name {
  position: static;
  margin: auto;
  transform: translate(0, 100%);
}

.about {
  position: static;
  margin: 20px auto;
  transform: translate(0, 100%);
}

}

@media screen and (max-width: 360px) {

  .container__header {
    flex-direction: column;
  }

  .gallery-img {
    width: auto;
    max-width: 320px;
  }

  img {
    width: 100%;
  }

}