body {
    height: 100vh;

}

.container {
    width: 100%;
    height: 100%;

    // CSS Smooth Scroll properties
    
    background-image: url(../../img/header-img.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}